# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*$py.class

# ===========================
# Virtual Environment
# ===========================
.venv/
venv/
env/

# ===========================
# IDE
# ===========================
.idea/
.vscode/
*.iml

# ===========================
# Environment Variables
# ===========================
.env

# ===========================
# Logs
# ===========================
logs/
*.log

# ===========================
# Test
# ===========================
.pytest_cache/
tests

# ===========================
# Build
# ===========================
build/
dist/
*.egg-info/

# ===========================
# OS
# ===========================
.DS_Store
Thumbs.db

# ===========================
# Database
# ===========================
*.db

# ===========================
# Coverage
# ===========================
.coverage
htmlcov/